.w3_login{
    min-height: 475px;
}
.tooltip a,.tooltip a:hover,.tooltip a:focus{
    color: #fff;
}
.is-danger{
    color:red;
}
.disabled{
    /* pointer-events: none; */
    cursor: not-allowed;
}
.disabled:hover{
    background: #ddd!important;
}
.wait_msg{
    color: #84C639;
    text-align: center;
    margin: 5px 0;
}
.msg{
    height: 200px;
    text-align: center;
    /* color: #84C639; */
    font-size: 20px;
    position: relative;
    height: 200px;
    top: -150px;
    position: relative;
    display: table;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    background: #ddd;
}
.msg p{
    display: table-cell;
    vertical-align: middle
}

