<div class="privacy about">
  <h3>Chec
    <span>kout</span>
  </h3>

  <!-- {{checkoutObject | json}} -->
  <div class="checkout-right">
    <h4>Your shopping cart contains:
      <span>{{checkoutObject?.list.length}}Products</span>
    </h4>
    <table class="timetable_sub">
      <thead>
        <tr>
          <th>SL No.</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Product Name</th>

          <th>Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr class="rem1" *ngFor="let item of checkoutObject?.list;let i=index">
          <td class="invert">{{i+1}}</td>
          <td class="invert-image">
            <a routerLink="/details/iddynamic">
              <img src="{{item?.imageurl}}" alt=" " class="img-responsive">
            </a>
          </td>
          <td class="invert">
            <div class="quantity">
              <div class="quantity-select">
                <div class="entry value-minus" (click)="deQty(i)">&nbsp;</div>
                <div class="entry value">
                  <span>{{item?.NET_QTY}}</span>
                </div>
                <div class="entry value-plus active" (click)="inQty(i)">&nbsp;</div>
              </div>
            </div>
          </td>
          <td class="invert">{{item?.NAME}}</td>

          <td class="invert">₹{{item?.NET_AMOUNT}}</td>
          <td class="invert">
            <div class="rem">
              <div class="close1" (click)="remove(i)"> </div>
            </div>

          </td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="checkout-left">
    <div class="col-md-4 checkout-left-basket">
      <h4>Continue to basket</h4>
      <ul>
        <li *ngFor="let item of checkoutObject?.list;let i=index">Product {{i+1}}
          <i>-</i>
          <span>₹{{item.NET_AMOUNT}} </span>
        </li>

        <li>Total Service Charges
          <i>-</i>
          <span>00</span>
        </li>
        <li class="total_amount">Total
          <i>-</i>
          <span>₹{{checkoutObject?.totalAmount ? checkoutObject.totalAmount:"--"}}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-8 address_form_agile">
      <h4>Add a new Details</h4>
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <section class="creditly-wrapper wthree, w3_agileits_wrapper">
          <div class="information-wrapper">
            <div class="first-row form-group">
              <div class="controls">
                <label class="control-label">Full name: </label>
                <input formControlName="name" class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
              </div>
              <div class="w3_agileits_card_number_grids">
                <div class="w3_agileits_card_number_grid_left">
                  <div class="controls">
                    <label class="control-label">Mobile number:</label>
                    <input formControlName="MobileNo" class="form-control" type="text" placeholder="Mobile number">
                  </div>
                </div>
                <div class="w3_agileits_card_number_grid_right">
                  <div class="controls">
                    <label class="control-label">Landmark: </label>
                    <input formControlName="landmark"class="form-control" type="text" placeholder="Landmark">
                  </div>
                </div>
                <div class="clear"> </div>
              </div>
              <div class="controls">
                <label class="control-label">Town/City: </label>
                <input formControlName="city" class="form-control" type="text" placeholder="Town/City">
              </div>
              <div class="controls">
                <label class="control-label">Address type: </label>
                <select formControlName="type" class="form-control option-w3ls">
                  <option>Office</option>
                  <option>Home</option>
                  <option>Commercial</option>

                </select>
              </div>
            </div>
            <button class="submit check_out">Delivery to this Address</button>
          </div>
        </section>
      </form>
      <div class="checkout-right-basket">
        <a routerLink="/payment">Make a Payment
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div class="clearfix"> </div>

  </div>

</div>
<!-- //about -->
<div class="clearfix"></div>